<div class="infobox" ng-repeat="partner in point">
  <table>
    <tr valign="center">
      <td>
        {{partner.name}}<br>
        <p class="comment">ТЦ {{partner.tradepoint}}, {{partner.address}}</p>
      </td>
      <td align="right"><i class="material-icons" style="font-size:48px;">info</i></td>
    </tr>
  </table>
</div>
<br>
<form class="form" name="formRegister" ng-submit="Activate(user)"/>
  <div class="form-field">
    <input class="form-input" name="email" type="email" placeholder="Email" required ng-model="user.email"/>
  </div>
  <div class="form-field">
    <input class="form-input" name="password" type="password" placeholder="Пароль" required ng-model="user.password"/>
  </div>
  <div class="form-field">
    <input class="form-input" id="name" placeholder="Имя" ng-model="user.name"/>
  </div>
  <div class="form-field">
    <input class="form-input" name="phone" type="tel" ui-mask="+7 (999) 999-99-99" ng-model="user.phone"/>
  </div>
  <div class="form-field">
    <input class="btn shadow" type="submit" value="Активировать" ng-disabled="formRegister.$invalid" />
  </div>
</form>
