<form class="form" name="formRegister" ng-submit="Register(user)"/>
  <div class="form-field">
    <input class="form-input" id="name" placeholder="Имя" required ng-model="user.name"/>
  </div>
  <div class="form-field">
    <input class="form-input" name="email" type="email" placeholder="Email" required ng-model="user.email"/>
  </div>
  <div class="form-field">
    <input class="form-input" name="password" type="password" placeholder="Пароль" required ng-model="user.password"/>
  </div>
  <div class="form-field">
    <input class="form-input" name="phone" type="tel" ui-mask="+7 (999) 999-99-99" ui-options="{clearOnBlur: false}" required ng-model="user.phone"/>
  </div>
  <div class="form-field">
    <select class="form-input" name="city" placeholder="Город" ng-model="user.city" ng-options="c.id as c.name for c in cities" ng-change="getTradepoints(user.city, user.role)">
    </select>
  </div>
  <div class="form-field">
    <select class="form-input" name="role" placeholder="Роль" ng-model="user.role" ng-options="r.id as r.name for r in roles" ng-change="getTradepoints(user.city, user.role)">
    </select>
  </div>
  <!--Кнопка выбора места работы / торговой точки в зависимости от города-->
  <div class="form-field" ng-show="_tradepoint">
    <select class="form-input" name="tradepoint" placeholder="Рабочее место" ng-model="user.tradepoint" ng-show="user.role==0">
      <option ng-repeat="p in points" ng-value="p.wp">{{ p.wp }} {{ p.tradepoint }}</option>
    </select>
    <select class="form-input" name="tradepoint" placeholder="Торговый центр" ng-model="user.tradepoint" ng-show="user.role==1" ng-change="getTradepoints(user.city, user.role+0, user.tradepoint)">
      <option ng-repeat="p in points" ng-value="p.tradepoint">{{ p.tradepoint }} ({{ p.address }})</option>
    </select>
  </div>
  <div class="form-field" ng-show="_tp">
    <select class="form-input" name="tp" placeholder="Компания-партнёр" ng-model="user.tp" ng-show="user.role==1">
      <option ng-repeat="t in tps" ng-value="t.tp">{{ t.name }}</option>
    </select>
  </div>
  <!--Кнопка выбора места работы / торговой точки в зависимости от города-->
  <div class="form-field">
    <input class="btn shadow" type="submit" value="Зарегистрироваться" ng-disabled="formRegister.$invalid" />
    &nbsp;&nbsp;&nbsp;&nbsp;<a ui-sref="login">Вход</a>
  </div>
</form>
