<h2>Пользователи</h2><br>
<table class="grid">
  <thead>
    <tr>
      <th width="25%">name</th>
      <th width="25%">email</th>
      <th width="25%">code</th>
      <th width="25%">role</th>
    </tr>
  </thead>
</table>
<div class="cell" ng-repeat="u in users">
  <div class="act" ng-click="u._active=!u._active">
    <table class="grid">
      <tbody>
        <tr>
          <td width="25%">{{ u.name }}</td>
          <td width="25%">{{ u.email }}</td>
          <td width="25%" ng-show="u.role==0">{{ u.tradepoint.tp }}</td>
          <td width="25%" ng-show="u.role==1">{{ u.tradepoint.wp }}</td>
          <td width="25%"> {{ u.role }} </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="opt" ng-show="u._active==true">
    <table class="grid-sub">
      <tbody>
        <tr>
          <td width="33%"> {{ u.city }} </td>
          <td width="33%"> {{ u.phone }} </td>
          <td width="34%"> &nbsp; </td>
        </tr>
        <tr>
          <td colspan="3" width="100%"> {{ u.tradepoint.tradepoint }} {{ u.tradepoint.name }} {{ u.tradepoint.address }} </td>
        </tr>
        <tr>
          <td colspan="3" width="100%">
            <form class="form" name="DeleteForm" ng-submit="DeleteUser(u.email)"/>
              <input class="btn bin" type="submit" value="Удалить" />
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
